@font-face {
    font-family: aioli;
    src: url(font/HelveticaNeueLTStd-LtCn.otf);
}

@font-face {
    font-family: tarragon;
    src: url(font/HelveticaNeueLTStd-Bd.otf);
}

/*
.username{
    background-image:url(images/interface-icones/username.png);
    background-repeat: no-repeat;
    background-position: 10 center;
    padding-left: 12px;
    margin-bottom: 30px;
}
*/

/* general*/
* {
    padding: 0;

}

html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
}

body {
    background-image: url(images/logo/background.jpg);
    background-position: center;
    background-size: 1000px;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: white;
    font-family: tarragon;
    
}

h2 {
    color: white;
    font-family: tarragon;
    text-align: center;
    font-size: 20px;
}





.container {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* logo */

#logo {
    width: 120px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* contact buttons */

.contactbutton {
    background-color: #EA5045;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    width: 200px;
    margin-top: 10px;
    text-align: center;
    padding: 8px;
}

.callicon {
    background-image: url(images/contact-icones/call.png);
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 12px;
    margin-bottom: 20px;
}

.emailicon {
    background-image: url(images/contact-icones/email.png);
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 12px;
    margin-bottom: 20px;
}

.slackicon {
    background-image: url(images/contact-icones/slack.png);
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 12px;
    margin-bottom: 20px;
}

/* social media */

#socialmedia {
    align-content: space-between;
    flex-direction: row;
    align-self: center; 
    margin-top: 20px;
    margin-bottom: 20px;
}

#socialmedia a {
    margin-left: 10px;
    margin-right: 10px;
}

/* returnmenu */

.returnbutton {
    background-color: white;
    opacity: 0.75;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    width: 200px;
    margin-top: 20px;
    text-align: center;
    padding: 8px;
    flex-direction: column;
    color: #707070;
    
}
