@font-face {
    font-family: aioli;
    src: url(font/HelveticaNeueLTStd-LtCn.otf);
}

@font-face {
    font-family: tarragon;
    src: url(font/HelveticaNeueLTStd-Bd.otf);
}

html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
}

body {}

body::before {
    background-image: url(images/logo/bcgnwvsn.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    z-index: -2;
    opacity: 0.75;
}

form {
    font-family: tarragon;
    display: inline-block;
    margin-left: auto;
    margin-bottom: auto;
    padding: 50 50 0 50px;
    text-align: center;
    align-content: center;
    width: 100%;
    height: 206px;
    margin-top: 0px;
}

#logo {
    width: auto;
    height: auto;
    text-align: center;
}

#logo img {
    display: inline-block;
}

h2 {
    color: white;
    font-family: tarragon;
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
}


a {
    color: black;
    opacity: 0.64;
    text-decoration: none;
}





.offerbutton {
    background-color: white;
    font-size: 24px;
    border-radius: 20px;
    border: none;
    width: 313px;
    height: 26px;
    margin-top: 10px;
    text-align: center;
    padding: 12px;
}

#mainoffer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#mainoffer a {
    color: #707070;
    text-decoration: none;
}




.backbutton {
    position: absolute;
    top: 650px;
    left: 40%;
    align-items: center;
    width: 313px;
    height: 46px;
    border-radius: 220px;
    border: 0px;
    background-color: white;
    text-decoration: none;
    color: #707070;
    opacity: 0.80;
    font-family: tarragon;
    font-size: 24px;
    text-align: bottom;
    display:inline-block;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 60px;
}

@media only screen and (min-width: 769px) {



    #whereami {

        position: absolute;
        left: 38%;
        top: 200px;
        width: auto;

    }

    #percent {

        position: absolute;
        left: 38%;
        top: 360px;
        width: auto;

    }

    #days {

        position: absolute;
        left: 38%;
        top: 467px;
        width: auto;
        display: block;

    }

    #handins {

        position: absolute;
        left: 50%;
        top: 470px;
        width: auto;
        display: block;

    }

    #next {

        position: absolute;
        left: 38%;
        top: 565px;
        width: auto;
        display: block;
    }

}



@media only screen and (max-width: 768px) {


    #whereami {

        position: absolute;
        left: 14%;
        top: 200px;
        width: auto;

    }

    #percent {

        position: absolute;
        left: 14%;
        top: 360px;
        width: auto;

    }

    #days {

        position: absolute;
        left: 14%;
        top: 467px;
        width: auto;
        display: block;

    }

    #handins {

        position: absolute;
        left: 50%;
        top: 470px;
        width: auto;
        display: block;

    }

    #next {

        position: absolute;
        left: 14%;
        top: 565px;
        width: auto;
        display: block;

    }

    

