*{
    box-sizing: border-box;
}

@font-face {
    font-family: aioli;
    src: url(font/HelveticaNeueLTStd-LtCn.otf);
}

@font-face {
    font-family: tarragon;
    src: url(font/HelveticaNeueLTStd-Bd.otf);
}

html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
}

body {
 
}

body::before {
    background-image: url(images/logo/bcgnwvsn.png);
    background-size: cover;
    background-attachment: fixed;
    background-position:center center;
    background-repeat:no-repeat;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    z-index: -2;
    opacity: 0.75;
}

form {
    font-family: tarragon;
    display:inline-block;
    margin-left: auto;
    margin-bottom: auto;
    padding: 50 50 0 50px;
    text-align: center;
    align-content: center;
    width: 100%;
    height: 736px;
    margin-top: 0px;
}

.logo {
    margin-top: 73;
    display:inline-block;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 40px;
}

h2 {
    font-family: aioli;
    word-spacing: 22;
    color: #FFFF;
    margin-top: 45;
    display:inline-block;
    margin-left: auto;
    margin-bottom: auto;
}

input[type=submit] {
    align-items: center;
    width: 313px;
    height: 46px;
    border-radius: 12px;
    border: 0px;
    background-color: #EA5045;
    color: #FFFFFF;
    font-family: tarragon;
    font-size: 24px;
    text-align: bottom;
    display:inline-block;
    margin-left: auto;
    margin-bottom: auto;
}

input[type=checkbox] {
    margin-bottom: 50;
    margin-top: 30;
    width: 100%;
    height: 20;
    display:inline-block;
    margin-left: auto;
    margin-bottom: auto;
}

#checkbox {
    color: white;
    margin-bottom: 50px;
    margin-top: 25;
    width: 100%;
    display:inline-block;
    margin-left: auto;
    margin-bottom: auto;
}

.checkboxContainer input{
    display: none;
}
.checkboxContainer{
    display: inline-block;
    padding-left: 27px;
    position: relative;
    cursor: pointer;
    user-select: none;
    margin-bottom: 45px;
}

.checkboxContainer .checkmark{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background: #FFFFFF;
    position: absolute;
    left: 1;
    top: 0;
}

.checkboxContainer input:checked + .checkmark{
    background-color: #FFFFFF;
}
.checkboxContainer:hover .checkmark{
    background-color: #EA5045;
}
.checkboxContainer input:checked + .checkmark:after{
    content: "";
    position: absolute;
    height: 5px;
    width: 7px;
    border-left: 1.5px solid #6ECEB2;
    border-bottom: 1.5px solid #6ECEB2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
span:before{
    content: "";
    display: inline-block;
    width: 17px;
}

a {
    color: black;
    opacity: 0.94;
}

a:hover {
    color: #EA5045;
    cursor: pointer;
}


span + span {
    margin-left: 10px;
}

input[type=password] {
    align-items: center;
    width: 313px;
    height: 46px;
    border-radius: 12px;
    border: 0px;
    background-color: #FFFFFF;
    color: #707070;
    font-family: tarragon;
    font-size: 24px;
    text-align: center;
    display:inline-block;
    margin-left: auto;
    margin-bottom: auto;
}

.pw {
    background-image: url(images/interface-icones/password.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: 10 center;
    padding-left: 12px;
}

input[type=text] {
    align-items: center;
    width: 313px;
    height: 46px;
    border-radius: 12px;
    border: 0px;
    background-color: #FFFFFF;
    color: #707070;
    font-family: tarragon;
    font-size: 24px;
    text-align: center;
    margin-top: 65;
    display:inline-block;
    margin-left: auto;
}

.username {
    background-image: url(images/interface-icones/username.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: 10 center;
    padding-left: 12px;
    margin-bottom: 30px;
}

#newaccount {
    color: #707070;
    padding: 10;
    margin-bottom: 0px;
    margin-top:10px;
}

.flag {
    margin-top: 9;
}

@media screen and (max-width: 500px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

a:link.forgot{
    font-family: tarragon;
    text-decoration: none;
    color: white;
}
a:visited.forgot{
    font-family: tarragon;
    text-decoration: none;
    color: white;
}
a:hover.forgot{
    font-family: tarragon;
    text-decoration: none;
    color: #8E7FAE;
}
a:active.forgot{
    font-family: tarragon;
    text-decoration: none;
    color: white;
}